.passport-locations {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stamping-image {
    width: 50%;
}
.stamp {
    width: 100%;
    height: auto;
}

.location-list {
    width: 60%;
}

.center-name {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 8px; 

}
.center-name:hover {
    background-color: black;
}
.center-name:hover .center-link {
    color: white;
}

.center-link {
    color: black;
    text-decoration: none;
    cursor: pointer;

}


@media (max-width: 768px) {
    .passport-locations {
      flex-direction: column;
    }
    .location-list {
        width: 80%;
    }
  }