vis-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
vis-title::first-line {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
chart-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
chart-title::first-letter {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
.header {
  border-bottom: 2px solid red;
}

.bar-chart {
  align-items: center;
}

