.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .bar-chart {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
  }
  
  .donut-chart {
    grid-column: 1;
    grid-row: 2;
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
    .bar-chart {
        align-items: center;
        margin-left: 20px;
    }
    .donut-chart {
      grid-column: 2;
      grid-row: 1;
    }
  }
  