.weatherForecast {
  display: grid;
  grid-auto-flow: column;
  width: 50vw;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.weatherDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
  font-weight: bold;
  padding-top: 10px;
}

.weatherBox {
  text-align: center;
  padding: 10px;
  margin: 15px;
  background-color: #e2f5fc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
}

@media (max-width: 768px) {
  .lineChart {
    display: none;
  }
  .weatherBox {
    width: 100%;
    max-width: 200px;
    overflow-y: scroll;
  }
  .weatherForecast {
    width: 95%;
    flex-wrap: wrap;
    overflow-x: scroll;
  }
}
.date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.temperature {
  font-size: 14px;
  margin-bottom: 8px;
}

.temperatureLabel {
  font-weight: bold;
}

.humidity,
.windSpeed {
  font-size: 14px;
  margin-bottom: 4px;
}

.humidityLabel,
.windSpeedLabel {
  font-weight: bold;
}

.weatherIcon {
  color: #000000;
  font-size: 32px;
}

.weatherBox.clear-sky {
  background-color: var(--yellow);
}

.weatherBox.few-clouds {
  background-color: var(--light-blue);
}

.weatherBox.light-rain {
  background-color: var(--lighter-blue);
}

.weatherBox.scattered-clouds {
  background-color: var(--lighter-sky-blue);
}

.weatherBox.broken-clouds {
  background-color: var(--lighter-gray-blue);
}

.weatherBox.overcast-clouds {
  background-color: var(--gray);
}

.weatherBox.rain {
  background-color: var(--light-blue-sky);
}

.weatherBox.moderate-rain {
  background-color: var(--light-blue-calm);
}

.weatherBox.thunderstorm {
  background-color: var(--dark-blue);
}

.weatherBox.snow {
  background-color: var(--light-blue-snow);
}

.weatherBox.mist {
  background-color: var(--light-blue-mist);
}

.weatherBox.smoke {
  background-color: var(--light-gray);
}

.weatherBox.haze {
  background-color: var(--light-gray);
}

.weatherBox.dust {
  background-color: var(--light-gray);
}

.weatherBox.fog {
  background-color: var(--light-gray);
}

.weatherBox.sand {
  background-color: var(--light-gray);
}

.weatherBox.ash {
  background-color: var(--light-gray);
}

.weatherBox.squall {
  background-color: var(--light-gray);
}

.weatherBox.tornado {
  background-color: var(--light-gray);
}

.weatherBox {
  background-color: var(--light-white-blue);
}

.lineChart {
  width: 70%;
  height: 250px;
  align-self: center;
  justify-content: center;
  margin-left: 60px;
}
.weatherLineChart {
  align-items: center;
}
