:root {
  --yellow: #fceeb5;
  --light-blue: #d4dce6;
  --lighter-blue: #cddc;
  --lighter-sky-blue: #c2d9e8;
  --lighter-gray-blue: #b8c8d4;
  --gray: #c3c3c3;
  --light-blue-sky: #85b7fa;
  --light-blue-calm: #aecaf1;
  --dark-blue: #635c8a;
  --light-blue-snow: #eaf3ff;
  --light-blue-mist: #cdddf1;
  --light-gray: #c3c3c3;
  --light-white-blue: #cddcf3;
  --mustod-yellow: #faa810;
}
