.container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.left-col {
  flex: 1;
  height: 65vh;
  overflow-y: scroll;
  float: right;
}

.center-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parkActivities{
  flex: 1;
  height: 65vh;
  overflow-y: scroll;
  float: left;
}
.ActivityHeading{
  flex: 1;
  margin-left: 50px;
  float: left;
  margin-bottom: 10px;
}