.container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  height: 70vh;
  margin-bottom: 70px;
}

.left-col {
  height: 70vh;
  width: 70vh;
  overflow-y: scroll;
  float: right;
}

.right-col {
  flex: 1;
  margin-left: 70px;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.parkActivities {
  flex: 1;
  height: 65vh;
  overflow-y: scroll;
  float: left;
}
.ActivityHeading {
  padding-top: 30px;
  flex: 1;
  margin-left: 50px;
  float: left;
  margin-bottom: 10px;
}
